$black: #000;
$white: #fff;
$gray: #ccc;

$orange: #9b6b32;

$green: #809d27;
$lightGreen: #949962;
$washedOutGreen: #D8DACE;

$almostWhite: #F8F8F8;
$lightBlack: #333;
$darkerGrey: #999;
$darkBlack: #212121;
$lightGrey: #aaa;
$lightOrange: #f5be59;


$mainBackground: #e7e7e7;