/* ===================================================== */
/*                  	 Imports                         */
/* ===================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700italic,700&subset=latin,greek,greek-ext);


/* ===================================================== */
/*                  	 Style Reset                     */
/* ===================================================== */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        width:100%;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        word-wrap: break-word;
    }

    th,td{
        word-wrap: break-word;
    }


    strong{
        font-weight:bold;
    }

    textarea{
        vertical-align: middle;
        resize:vertical;
    }

    textarea.markItUpEditor{
        width:100%;
        padding: 0;
    }

    input:disabled{
        background-color: transparent;
        border: none;
        text-align: center;
    }

/* ===================================================== */
/*                 Standard Html Tags                    */
/* ===================================================== */

    body {
        font: normal 75% "Roboto",sans-serif;
        color: black;
        font-size: 12px;
        line-height:1;
        background: #F4F3EE;
    }
    h1, h2, h3{margin: 5px 0; text-align:center; font-size:1.15em;}

    h1 {
        padding: 10px 0;
        color: #313131;
        font-size: 1.6em;
    }
    h2 {color: black;}
    h3 {
        font:bold 14px "Roboto", sans-serif;
        border-bottom: 1px solid #444;
        padding-bottom: 10px;
        color: #fff;
    }

    a, .link {color: #336699; text-decoration: none;}

    img{ vertical-align: middle;}

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #aaa;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #aaa;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #aaa;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #aaa;
    }


/* ===================================================== */
/*                       Header                          */
/* ===================================================== */
    header{
        height: 60px;
        text-align: left;
        width: 100%;
        background: #303641;
        /*background: #E0E0E3 url(../images/sidebar.png) repeat;*/
    }

    #topWrapper{
        width: 100%;
        margin: 0 auto;
    }


    nav ul{
        display:inline-block;
        text-align:center;
    }

    nav ul li{
        float: left;
        position: relative;
    }

    nav ul li a{
        padding: 23px 14px;
        /*border-right: 1px solid #474e5b;*/
        /*border-left: 1px solid #303641;*/
        display: inline-block;
        color: #bbb;
         text-shadow: 1px 1px 3px #222;
        font: normal 12px "Roboto", Sans-Serif;
        /*background: #3a404b;*/
        vertical-align: middle;
        -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
        -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
        -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
        transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    }

    nav ul li:hover a, nav ul li a.active{
        color:#fff;
        background-color:#3a404b;
    }


    header nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 999;
        left: 0;
        margin-top: -1px;
        border: 1px solid #777;
        border-top-color: #f5be59;
        background-color: #3a404b;
        padding: 0
    }

    header nav ul ul li {
        float: none;
        width: 200px;
        border-bottom: 1px solid #333;
        border-top: 1px solid #777;
    }

    header nav ul ul li:first-child {
        border-top: none;
    }

    header nav ul ul li:last-child {
        border-bottom: none;
    }

    header nav ul ul a {
        margin: 0;
        text-align: left;
        display: block;
        line-height: 120%;
        height:auto;
        color: #eee;
        padding: 10px 15px;
        text-shadow: 1px 1px 1px #333;
    }

    header nav ul ul a:hover {
        background-color: inherit;
        color: #f5be59;
    }

    header nav ul li:hover > ul {
        display: block
    }

    #logo{
        display:inline;
        float:left;
        line-height: 62px;
        margin: 0 10px 0 5px;
    }

    #logo a{
        height: 50px;
        margin: 5px 10px;
        display: block;
        /*width: 198px;*/
        /*background: transparent url('../../images/logo.png') no-repeat 0 0;*/
        text-indent: -9999px;
    }

    span.notificationCount {
        float:right;
        background-color: #dc0d17;
        background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
        background-image: linear-gradient(#fa3c45, #dc0d17);
        color: #fff;
        /* padding: 1px 3px; */
        padding: 0 5px;
        margin-left: 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    }


/* ===================================================== */
/*                  Application Layout                   */
/* ===================================================== */

    #content{
        width:100%;
        margin:0 auto;
    }

    /*media screen*/
    .flash {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        color: white;
        background: #aaa;
        z-index: 999;
        margin-top: 4px;
    }


    .hover {background:#efefef}

    /*caption, h2{*/
        /*padding: 10px;*/
        /*border-top: 1px solid #aaa;*/
        /*border-left: 1px solid #aaa;*/
        /*border-right: 1px solid #aaa;*/
        /*background: #ddd;*/
        /*text-align: left;*/
    /*}*/

    /* ===================================================== */
    /*                   Attribute Select                    */
        .joinSelect .joinList{
            display:none;
        }

        .joinSelect{
            min-height: 150px;
            margin-top: 10px;
            position: relative;
            border: 2px solid #ccc;
        }

        .joinSelect .addJoin{
            padding: 10px;
            border-top: 1px solid #ccc;
            /* border-bottom: 1px solid #ccc; */
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #ccc;
            text-align: center;
        }

        .joinTableWrapper{
            max-height:200px;
            overflow:auto;
            margin-bottom: 35px;
        }

        .activeJoins td input, .activeJoins td select {
            text-align:center;
            width: 80%;
        }

        .selectBox.joinList{
            margin-top:0 !important;
        }

        .activeJoins td {
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            overflow: auto;
        }

        .activeJoins th {
            background: #ccc;
            padding: 10px;
        }

    /* ===================================================== */
    /*                     Standard Form                     */

        .formWrapper h2 {
            padding: 12px;
            margin-top: 10px;
            font-size: 1.2em;
            background: #ddd;
        }

        .formWrapper{
            margin-bottom: 70px;
        }

        .standardForm{
            width: 50%;
            margin: 0 auto;
            padding: 15px;
            overflow:auto;
        }

        .standardForm .element .selectBox, .standardForm .element .cke{
            margin-top: 10px;
        }

        .standardForm .element > input, .standardForm .element > textarea, .standardForm .element > select{
            width: 100%;
            padding: 10px 0;
            text-indent: 5px;
            outline: none;
            border: 2px solid #ccc;
            border-radius: 5px;
            background: rgb(235, 234, 230);
            color: black;
            /* box-shadow: 1px 1px 5px #ddd; */
            margin-top: 10px;
        }

        .standardForm .element label{
            /*padding:5px;*/
        }

        .standardForm .element{
            margin-top:20px;
        }

        .standardForm .element:first-of-type{
            margin-top:5px;
        }

        .standardForm input[type="submit"]{
            width: auto;
            float: right;
            min-width: 150px;
            text-indent: 0;
            margin-top: 20px;
            padding: 9px 20px;
        }


    /* ===================================================== */
    /*                     Login Page                     */

        #login{
            width: 400px;
            margin: 75px auto 15px auto;
        }

        #login h1{
            margin: 0 0 20px 0;
            font: normal 18px 'Roboto', sans-serif;
            padding: 10px 30px;
            text-align: left;
            background: transparent url(../../images/house.png) left center no-repeat;
            border-bottom: 1px dashed #ccc;
        }

        #login input,#login select,#login textarea {
            padding: 10px 0;
            width: 385px;
            margin-top: 10px;
            text-indent: 7px;
            border-radius:5px;
            border: 1px solid #bbb;
            outline: none;
            font: normal 11px "Roboto", sans-serif;
            color: black;box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        }

        #login input[type="checkbox"]{
            box-shadow: none;
        }

        #login .element{
            padding: 20px 5px;
        }

        #login input[type="submit"]{
            border: 1px solid #ccc;
            cursor:pointer;
            border-radius:0;
            box-shadow: none;
            margin:10px 0 0 0 ;
            width:100%;
            background:url(../../images/btn_submit_2.png);
            transition: background 500ms linear;
        }

        #login input[type="submit"]:hover{
            background:url(../../images/btn_submit_2-hover.png);
        }

        #login label{
            padding-bottom:5px;
        }

        #login input:focus,#login textarea:focus{
            border: 1px solid #77BACE;
            box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        }


/* ===================================================== */
/*                         Footer                        */

    footer{
        padding-bottom: 21px;
        text-align: right;
    }

    footer.halfSized{
        width: 400px;
        margin: 0 auto;
    }

    #languages li{
        display:inline-block;
        margin-right:10px;
    }

    #languages li a:hover{
        color:#458FD9;
    }

    #languages li img{
        margin-right:5px;
        vertical-align: middle;
    }

/* ===================================================== */
/*                    Common Classes                     */

    .invisible{display:none;}
    .blackBorder{border-right:2px solid #777}
    .formError{
        color: red;
        /* display: none; */
        padding: 5px;
        margin-left: 12px;
        margin-top: 10px;
        /* border: 1px solid red; */
        list-style: initial;
    }
    .unscrollable{overflow:hidden;}
    .rFloat{float:right}
    .redBorder{border:1px solid red}
    .button{
        padding: 8px 20px;
        background: #F1F1F4 url(../../images/secondary_bar.png) repeat-x;
        cursor: pointer;
        border: 1px solid #999;
    }
    .button:hover{
        background: #F1F1F4 url(../../images/secondary_bar-hover.png) repeat-x;
    }